<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>max_neural_net_loops</key>
	<integer>5</integer>
	<key>population_size</key>
	<integer>150</integer>
	<key>num_generations</key>
	<integer>300</integer>
	<key>mut_weight_max_perturbation</key>
	<real>0.5</real>
	<key>mut_weight_prob_replace</key>
	<real>0.05</real>
	<key>chance_mutate_weights</key>
	<real>0.5</real>
	<key>chance_toggle_link</key>
	<real>0.2</real>
	<key>chance_reenable_link</key>
	<real>0.2</real>
	<key>c1_excess_coefficient</key>
	<integer>1</integer>
	<key>c2_disjoint_coefficient</key>
	<integer>1</integer>
	<key>c3_weight_coefficient</key>
	<real>0.4</real>
	<key>species_compatibility_threshold</key>
	<real>0.5</real>
	<key>species_age_without_improvement_limit</key>
	<integer>20</integer>
	<key>chance_add_link</key>
	<real>0.05</real>
	<key>chance_add_node</key>
	<real>0.04</real>
	<key>species_percent_organisms_survive</key>
	<real>0.2</real>
	<key>maximum_neurons</key>
	<integer>15</integer>
	<key>mutate_rather_than_crossover_probability</key>
	<real>0.3</real>
	<key>young_species_age_threshold</key>
	<integer>5</integer>
	<key>young_species_fitness_bonus</key>
	<real>1.2</real>
	<key>old_species_age_threshold</key>
	<integer>15</integer>
	<key>old_species_fitness_penalty</key>
	<real>0.8</real>
</dict>
</plist>
